<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>

<div class="col-md-6" *ngIf="foundBlog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">"{{ blog.title }}" will be deleted</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this post by <strong>{{ blog.createdBy }}</strong>?</p>
        </div>
        <div class="modal-footer">
            <button [disabled]="processing" type="button" name="button" class="btn btn-default" (click)="delete()">Yes</button>
            <a routerLink="/blog">
                <button [disabled]="processing" type="button" name="button" class="btn btn-default">No
              </button>
            </a>
        </div>
    </div>
</div>