<h1 class="page-header">Edit Post</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>

<!-- Edit Blog Form -->
<form (submit)="updateBlogSubmit()" *ngIf="!loading">
    <!-- Title Field -->
    <div class="form-group">
        <label for="title">Title</label>
        <!-- Title Input -->
        <input [disabled]="processing" type="text" name="title" placeholder="*Blog Title" class="form-control" [(ngModel)]="blog.title" />
    </div>

    <!-- Body Field -->
    <div class="form-group">
        <label for="body">Body</label>
        <!-- Body Input -->
        <quill-editor [disabled]="processing" name="body" [(ngModel)]="blog.body"></quill-editor>
        <!-- <textarea [disabled]="processing" name="body" rows="12" cols="80" [(ngModel)]="blog.body" class="form-control" placeholder="*Blog Body"></textarea> -->
    </div>

    <!-- Category Field -->
    <div class="form-group">
        <!-- <label for="category">Category </label> -->
        <!-- Category Input -->
        <!-- <input [disabled]="processing" type="text" name="category" placeholder="*Blog Category" class="form-control" [(ngModel)]="blog.category" /> -->
        <select [(ngModel)]="blog.category" name="category">
            <option>Uncategorized</option>
            <option>Coding</option>
            <option>Photography</option>
            <option>Varia</option>
    </select>
    </div>

    <h3>
        <!-- Save Changes Button -->
        <button [disabled]="processing" type="submit" name="save" class="btn btn-link"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
        <!-- Go Back Button -->
        <button [disabled]="processing" type="button" name="button" class="btn btn-link" (click)="goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <!-- Delete Button -->
        <button [disabled]="processing" type="button" name="button" class="btn btn-link"><a [routerLink]="['/delete/', blog._id]"><i class="fa fa-trash-o" aria-hidden="true"></i></a></button>

    </h3>
</form>