<h1 class="page-header">{{ username }} profile</h1>
<ul class="list-group">
    <li class="list-group-item"><strong>Username:</strong> {{ username }}</li>
    <li class="list-group-item"><strong>E-mail:</strong> {{ email }}</li>
</ul>