/* Custom Bootstrap */


/* Social Share Buttons */

.n2s-share-btn {
    background: #666;
    color: white;
}

.n2s-share-btn:hover {
    color: #f15c66;
}


/* Back To Top Button */

.back2Top {
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #000;
    color: #DDF;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
}

.back2Top:hover {
    background-color: #DDF;
    color: #000;
}


/* Quill Source Code Editor */

.ql-showHtml:after {
    content: "[source]";
}