<h1 style=font-size:5em>Welcome to my <a href="/blog">blog,</a>
    <br />where I keep diary about <a href="/blog">coding.</a></h1>
<!--
<div>
    <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary">Register</a>
    <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-primary">Login</a>
    <a *ngIf="authService.loggedIn()" routerLink="/blog" class="btn btn-primary">View Blogs</a>
</div>
-->