<div class="row show-hide-message" *ngIf="message && newPost">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>
<br />
<br />

<!-- New Blog Form -->
<div class="row">
    <div class="col-sm-8 blog-main">
        <form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
            <h1 class="page-header">New Post</h1>
            <!-- Post Title -->
            <div class="form-group">
                <label for="title">Title</label>
                <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
                    <input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title" />
                    <ul class="help-block">
                        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required</li>
                        <li *ngIf="
                (form.controls.title.dirty && form.controls.title.errors?.minLength) 
                ||
                (form.controls.title.dirty && form.controls.title.errors?.maxLength)
                ">Max Length: 500, Min. Length: 5
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Post Body -->
            <div class="form-group">
                <label for="body">Body</label>
                <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
                    <!-- <textarea id="txtEditor" class="form-control" rows="12" name="body" cols="80" formControlName="body" aria-hidden="true"></textarea> -->
                    <quill-editor name="body" formControlName="body"></quill-editor>
                    <!-- <textarea name="body" rows="12" cols="80" placeholder="*Body" class="form-control" formControlName="body"></textarea>  -->
                    <ul class="help-block">
                        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required</li>
                        <li *ngIf="
                    (form.controls.body.dirty && form.controls.body.errors?.minLength) 
                    ||
                    (form.controls.body.dirty && form.controls.body.errors?.maxLength)
                    ">Max Length: 5000, Min. Length: 5
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Post Category -->
            <div class="form-group">
                <select class="form-control" formControlName="category">
                    <option>Uncategorized</option>
                    <option>Coding</option>
                    <option>Photography</option>
                    <option>Varia</option></select>
            </div>
            <br />

            <!-- Submission Buttons -->
            <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>
            <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-default">Go Back</button>
        </form>
    </div>
    <!-- Posts -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <!-- New Post Button -->
                <div class="d-flex">
                    <div class="ml-auto p-2">
                        <button type="button" name="button" class="btn btn-primary btn-lg" *ngIf="!newPost && authService.loggedIn()" (click)="newBlogForm()"><i class="fa fa-pencil-square fa-2x" aria-hidden="true" style="vertical-align: middle;"></i>&nbsp;&nbsp;New Post</button>
                    </div>
                </div>

                <div class="blog-row" *ngFor="let blog of blogPosts">
                    <div class="blog-post" *ngIf="!newPost">
                        <a [routerLink]="['/single-post/', blog._id]">
                            <h1 class="blog-post-title">{{blog.title}}</h1>
                        </a>
                        <p class="blog-post-meta">
                            <small>{{blog.createdAt | date:'dd MMM, yyyy'}} by <strong>{{blog.createdBy}}</strong></small>
                        </p>
                        <p class="blog-post-meta"><span class="badge badge-pill badge-dark">{{blog.category}}</span></p>
                        <div [innerHTML]="blog.body | excerpt:400 | keepHtml" class="blogpost"></div>
                        <!-- <div [innerHTML]="blog.body | keepHtml" class="blogpost"></div> -->
                        <h3>
                            <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><i class="fa fa-pencil-square-o" style="color:black" aria-hidden="true"></i></a>
                            <!--    <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><span class="glyphicon glyphicon-edit" style="color:black" aria-hidden="true"></span></a> -->
                            <a [routerLink]="['/delete/', blog._id]" *ngIf="username === blog.createdBy"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            <button type="button" *ngIf="authService.loggedIn()" name="button" class="btn btn-link" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">
                                    <i class="fa fa-commenting" aria-hidden="true"></i>
                            </button>
                        </h3>
                        <br />

                        <!-- Comments -->
                        <div *ngIf="newComment.indexOf(blog._id) > -1">
                            <form [formGroup]="commentForm">
                                <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
                                <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 
                                'has-error': commentForm.controls.comment.dirty &&
                            commentForm.controls.comment.errors}">
                                    <ul class="help-block">
                                        <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required</li>
                                        <li *ngIf="(commentForm.controls.comment.errors?.maxLength && commentForm.controls.comment.dirty) || 
                                        (commentForm.controls.comment.errors?.minLength && commentForm.controls.comment.dirty)
                                        ">Comment must be at least 1 character but no more than 200</li>
                                    </ul>
                                </div>
                                <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-link" (click)="postComment(blog._id)">Send</button>
                                <button [disabled]="processing" type="button" name="button" class="btn btn-link" (click)="cancelSubmission(blog._id)">Cancel</button>
                            </form>
                        </div>

                        <!--    <div class="blog-row" *ngFor="let blog of blogPosts"> -->
                        <div *ngIf="enabledComments.indexOf(blog._id) == -1 && blog.comments.length > 0">
                            <span (click)="expand(blog._id)"><i class="fa fa-comment fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<small>Show Comments</small>
                                        <div></div>
                                    </span>
                        </div>
                        <div *ngIf="enabledComments.indexOf(blog._id) > -1">
                            <span (click)="collapse(blog._id)"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<small>Hide Comments</small>
                                                <div></div>
                                            </span>
                        </div>
                        <div class="container">
                            <div *ngIf="enabledComments.indexOf(blog._id) > -1">
                                <div *ngFor="let comment of blog.comments">
                                    <hr><small>{{ comment.comment }} – <strong>{{ comment.commentator }} </strong><em> {{comment.commentedAt | timeAgo}}</em></small>
                                </div>
                            </div>
                            <br />
                        </div>
                        <hr>

                        <!-- vana kommentaar
                        <li *ngIf="enabledComments.indexOf(blog._id) == -1 && blog.comments.length > 0" class="list-group-item">
                                <span (click)="expand(blog._id)"><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <div></div>
                                </span>
                            </li>
                            <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
                                <span (click)="collapse(blog._id)"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;&nbsp;
                                            <div></div>
                                        </span>
                            </li>
                            <div *ngIf="enabledComments.indexOf(blog._id) > -1">
                                <li *ngFor="let comment of blog.comments" class="list-group-item">
                                    <strong>{{comment.commentator }}:</strong> {{comment.comment}}
                                </li>
                            </div>
                        -->


                    </div>
                </div>
            </div>
            <!-- /.blog-main -->

            <div class="col-sm-4" *ngIf="!newPost">
                <app-right-column></app-right-column>
            </div>
            <!-- /.blog-sidebar -->
            <!-- /.row -->
        </div>
    </main>
    <!-- /.container -->
    <br />
    <hr />
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">
                        <p>Blog template built during internship at <a href="http://www.uptime.ee/">Uptime</a> by <a href="https://twitter.com/martinraak">Martin Rääk</a>.</p>      
                  </span>
    </div>
</footer>