<div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p><img src="http://rxxk.co/images/persona_300x300.png" align="right" height="150" width="150">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
    </p>
    <br />

    <!-- Share container -->
    <share-container direction="horizontal" [expandable]="false" [textEnabled]="false" [platforms]="['twitter','facebook', 'linkedin', 'mail']" [secondaryPlatforms]="['tumblr','linkedin','pinterest']">
    </share-container>
    <br />
    <br />
</div>
<br />

<!-- Categories -->
<div class="sidebar-module">
    <h4>Categories</h4>
    <ol class="list-unstyled">
        <li><a href="#">Coding</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Interaction Design</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Varia</a></li>
        <li><a href="#">Uncategorized</a></li>
    </ol>
</div>
<div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
        <li><a href="https://gitlab.com/martinraak/">GitLab</a></li>
        <li><a href="https://twitter.com/martinraak">Twitter</a></li>
        <li><a href="https://www.instagram.com/martinrxxk/">Instagram</a></li>
    </ol>
</div>