<h1 class="page-header">Register</h1>

<div class="row show-hide-message">
    <div ngClass="messageClass">
        {{message}}

    </div>

</div>

<!-- Registreerimisvorm -->
<form [formGroup]="form" (submit)="onRegisterSubmit()">

    <!-- User input-->
    <div class="form-group">
        <label for="username">Username</label>
        <div ngClass="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid) && form.controls.username.dirty),
    'has-success': !form.controls.username.errors && usernameValid}">
            <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" formControlName="username" (blur)="checkUsername()" />

            <!-- Valideerimine, poolik veel -->
            <ul class="help-block">
                <li *ngIf="usernameMessage">{{usernameMessage}}</li>
            </ul>
        </div>
    </div>

    <!-- Email input-->
    <div class="form-group">
        <label for="email">E-mail</label>
        <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty),
    'has-success': !form.controls.email.errors}">
            <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*E-mail" formControlName="email">

            <!-- Validation -->
            <ul class="help-block">
                <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
            </ul>
        </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
        <label for="password">Password</label>
        <div>
            <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password">
        </div>
    </div>

    <!-- Submit input -->
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <div>
            <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm">
        </div>
    </div>
    <input [disabled]="!form.valid || processing" type="submit" class="btn btn-primary" value="Submit">
</form>