<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Martin's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/blog"><i class="fa fa-book fa-lg" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!authService.loggedIn()" class="active"><a class="nav-link" routerLink="/login"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i></a></li>
                <li *ngIf="authService.loggedIn()" class="active"><a class="nav-link" routerLink="/profile"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a></li>
                <li *ngIf="authService.loggedIn()" class="active"><a class="nav-link" href="#" (click)="onLogoutClick()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a></li>
                <li *ngIf="!authService.loggedIn()" class="active"><a class="nav-link" routerLink="/register"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i></a></li>

            </ul>
        </div>
    </div>
</nav>

<!-- vana sisu -->
<!-- 


<div class="bs-component">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <i class="fa fa-bars" aria-hidden="true"></i>
              </button>
                    <a class="navbar-brand" href="/blog">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </a>
                </div>
    
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a routerLink="/" class="nav-link">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li *ngIf="!authService.loggedIn()" class="active"><a class="nav-link" routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                        <li *ngIf="authService.loggedIn()" class="active"><a class="nav-link" routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li *ngIf="authService.loggedIn()" class="active"><a class="nav-link" href="#" (click)="onLogoutClick()"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        <li *ngIf="!authService.loggedIn()" class="active"><a class="nav-link" routerLink="/register"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
    
                    </ul>
                </div>
            </div>
        </nav>
    </div>

-->