<div class="row show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>

<div class="row">
    <div class="col-sm-8 blog-main">
        <h1 class="page-header">{{blog.title}}</h1>
        <p class="blog-post-meta"> <small>{{blog.createdAt | date:'dd MMM, yyyy'}} by <strong>{{blog.createdBy}}</strong></small></p>
        <p class="blog-post-meta"><span class="badge badge-pill badge-dark">{{blog.category}}</span></p>
        <div [innerHTML]="blog.body | keepHtml" class="blogpost"></div>
        <br />
        <div class="d-flex justify-content-center">
            <i class="fa fa-times" aria-hidden="true"></i>
            <i class="fa fa-times" aria-hidden="true"></i>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <br />
        <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-default">Go Back</button>
    </div>
    <div class="col-sm-4">
        <app-right-column></app-right-column>
    </div>
</div>
<hr />